SUPABASE_URL=https://msmkqricgmeubcviccyn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zbWtxcmljZ21ldWJjdmljY3luIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1MjY2MDYsImV4cCI6MjA5NDEwMjYwNn0._Olcd5HBKxpYmgVkLMly8D1E9y4R64y4uSOCca75FIA
MODEL_PATH=yolov8n.pt
CONFIDENCE_THRESHOLD=0.5
CACHE_TTL_HOURS=1
FRAME_WIDTH=640
FRAME_HEIGHT=480
SCRAPER_TIMEOUT=15
